* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #222;
  overflow-x: hidden;
}

.container {
  background: #fff;
  min-height: 100vh;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100%;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.container.show-nav + nav ul li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}

.circle button:focus {
  outline: none;
}

#open {
  left: 60%;
}

#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content img {
  max-width: 100%;
}

nav {
  position: fixed;
  left: 0;
  bottom: 40px;
  z-index: 100;
}

nav ul {
  list-style: none;
  padding-left: 30px;
}

nav ul li {
  color: #fff;
  text-transform: uppercase;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}

nav ul li + li {
  transform: translateX(-150%);
}

nav ul li + li + li {
  transform: translateX(-200%);
}

nav ul li i {
  margin-right: 15px;
}
